app-my-lineups {
    table {
        width: 100%;
      }

    .attributeLowest {
      width: 30px;
      font-size: 16px;
      background-color: #900;
    }
  
    .attributeLow {
      width: 30px;
      font-size: 16px;
      background-color: #d40;
    }
  
    .attributeMedium {
      width: 30px;
      font-size: 16px;
      background-color: #c90;
    }
  
    .attributeHigh {
      width: 30px;
      font-size: 16px;
      background-color: #070;
    }
  
    .attributeHighest {
      width: 30px;
      font-size: 16px;
      background-color: #0a0;
    }
}