<!-- <form [formGroup]="playersForm">
  <div class="col-12">
    <div class="row">
      <mat-form-field class="col-12 col-md-4">
        <input matInput placeholder="Name" formControlName="name" />
      </mat-form-field>
      <mat-form-field class="col-12 col-md-4">
        <input matInput placeholder="Last Name" formControlName="lastName" />
      </mat-form-field>
    </div>
  </div>

  <div class="col-12">
    <div class="row">
      <div class="col-12 col-md-4">


        <ng-select class="picker" [items]="collectionList" formControlName="collectionId"
          bindLabel="name" bindValue="id" placeholder="Collection" (change)="getSubCollections($event)">
        </ng-select>
      </div>

      <div class="col-12 col-md-4">
        <ng-select class="picker" [items]="subcollectionList" formControlName="subcollectionId"
          bindLabel="name" bindValue="id" placeholder="Subcollection">
        </ng-select>
      </div>

      <div class="col-12 col-md-4">
        <ng-select class="picker" [items]="teamsList" formControlName="teamId" bindLabel="name"
          bindValue="id" placeholder="Team">
        </ng-select>
      </div>
    </div>
  </div>

  <div class="col-12">
    <div class="row">
      <mat-form-field class="col-12 col-md-4">
        <input matInput placeholder="Overall" formControlName="overall" />
      </mat-form-field>
      <mat-form-field class="col-12 col-md-4">
        <input matInput placeholder="Position" formControlName="position" />
      </mat-form-field>
      <div class="col-12 col-md-4">
        <ng-select class="picker" [items]="badgeList" formControlName="badges" bindLabel="name"
          [multiple]="true" bindValue="id" placeholder="Badges">
          <ng-template ng-option-tmp let-item="item" let-index="index">
            <img width="20" [src]="item.image" />
            {{item.name}}
          </ng-template>
        </ng-select>
      </div>
    </div>
  </div>

  <div class="col-12">
    <div class="row">
      <div class="col-2">
        <mat-form-field>
          <input matInput placeholder="Outside" formControlName="outside" />
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Open shot mid" formControlName="openMid" />
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Contested shot mid" formControlName="contestedMid" />
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Off dribble shot mid" formControlName="movingMid" />
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Open shot 3pt" formControlName="open3PT" />
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Contested shot 3pt" formControlName="contested3PT" />
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Off dribble shot 3pt" formControlName="moving3PT" />
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Shot IQ" formControlName="shotIQ" />
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Free throw" formControlName="freeThrow" />
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Offensive consistency" formControlName="offConsistency" />
        </mat-form-field>
      </div>
      <div class="col-2">
        <mat-form-field>
          <input matInput placeholder="Athleticism" formControlName="athleticism" />
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Speed" formControlName="speed" />
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Acceleration" formControlName="acceleration" />
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Vertical" formControlName="vertical" />
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Strength" formControlName="strength" />
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Stamina" formControlName="stamina" />
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Hustle" formControlName="hustle" />
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Overall durability" formControlName="durability" />
        </mat-form-field>
      </div>
      <div class="col-2">
        <mat-form-field>
          <input matInput placeholder="Inside" formControlName="inside" />
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Shot close" formControlName="shotClose" />
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Standing layup" formControlName="standingLayup" />
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Driving layup" formControlName="drivingLayup" />
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Standing dunk" formControlName="standingDunk" />
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Driving dunk" formControlName="drivingDunk" />
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Contact dunk" formControlName="contactDunk" />
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Draw foul" formControlName="drawFoul" />
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Post control" formControlName="postControl" />
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Post hook" formControlName="postHook" />
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Post fadeaway" formControlName="postFade" />
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Hands" formControlName="hands" />
        </mat-form-field>
      </div>
      <div class="col-2">
        <mat-form-field>
          <input matInput placeholder="Playmaking" formControlName="playmaking" />
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Ball control" formControlName="ballControl" />
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Passing accuracy" formControlName="passAccuracy" />
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Passing vision" formControlName="passVision" />
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Passing IQ" formControlName="passIQ" />
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Speed with ball" formControlName="speedBall" />
        </mat-form-field>
      </div>
      <div class="col-2">
        <mat-form-field>
          <input matInput placeholder="Defending" formControlName="defending" />
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="On-ball defense IQ" formControlName="onBallDefIQ" />
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Low post defense IQ" formControlName="lowPostDefIQ" />
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Pick & roll defense IQ" formControlName="pickNRollDefIQ" />
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Help defense IQ" formControlName="helpDefIQ" />
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Lateral quickness" formControlName="lateralQuickness" />
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Pass perception" formControlName="passPerception" />
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Reaction time" formControlName="reactionTime" />
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Steal" formControlName="steal" />
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Block" formControlName="block" />
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Shot contest" formControlName="shotContest" />
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Defensive consistency" formControlName="defConsistency" />
        </mat-form-field>
      </div>
      <div class="col-2">
        <mat-form-field>
          <input matInput placeholder="Rebounding" formControlName="rebounding" />
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Offensive rebound" formControlName="offRebound" />
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Defensive rebound" formControlName="defRebound" />
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Boxout" formControlName="boxout" />
        </mat-form-field>
      </div>
    </div>
  </div>

  <div class="col-12">
    <div class="row">
      <mat-form-field class="col-2">
        <input matInput placeholder="Total attributes" formControlName="totalAttributes" />
      </mat-form-field>
      <mat-form-field class="col-2">
        <input matInput placeholder="Height" formControlName="height" />
      </mat-form-field>
      <mat-form-field class="col-2">
        <input matInput placeholder="Weight" formControlName="weight" />
      </mat-form-field>
      <mat-form-field class="col-2">
        <input matInput placeholder="Age" formControlName="age" />
      </mat-form-field>
      <mat-form-field class="col-2">
        <input matInput placeholder="Image" formControlName="image" />
      </mat-form-field>
    </div>
  </div>
</form>

<div class="col-12">
  <button class="btn btn-primary" (click)="sendForm(playersForm.value)">
    Enviar
  </button>
</div> -->
<div class="col-12 col-xl-10 offset-xl-1">
  <div class="row">
    <div class="col-12">
      <h1 class="p-3">2K19 MyTeam Players</h1>
      <hr>
    </div>
  </div>
  <!-- <div class="col-12">
    <mat-form-field>
      <input matInput type="text" (keyup)="filterPlayers($event.target.value)" placeholder="Filter" />
    </mat-form-field>
  </div> -->
  <form class="mb-3" [formGroup]="filterForm">
    <div class="row">
      <div class="col-12 col-md-4">
        <ng-select class="picker" [items]="listOfCollections" formControlName="collection" bindLabel="name"
          bindValue="id" placeholder="Collection">
        </ng-select>
        <div class="mb-2">
          <strong>Position</strong>
          <mat-button-toggle-group name="position" class=" w-100" formControlName="position" multiple>
            <mat-button-toggle id="pg" value='"PG"' class="position pg-btn w-100">PG</mat-button-toggle>
            <mat-button-toggle id="sg" value='"SG"' class="position w-100">SG</mat-button-toggle>
            <mat-button-toggle id="sf" value='"SF"' class="position w-100">SF</mat-button-toggle>
            <mat-button-toggle id="pf" value='"PF"' class="position w-100">PF</mat-button-toggle>
            <mat-button-toggle id="c" value='"C"' class="position w-100">C</mat-button-toggle>
          </mat-button-toggle-group>
        </div>
        <div class="mb-2">
          <strong>Tier</strong>
          <mat-button-toggle-group name="tier" class="w-100" formControlName="tier" multiple>
            <mat-button-toggle value='"bronze"' class="bronze-btn w-100">B</mat-button-toggle>
            <mat-button-toggle value='"silver"' class="silver-btn w-100">S</mat-button-toggle>
            <mat-button-toggle value='"gold"' class="gold-btn w-100">G</mat-button-toggle>
            <mat-button-toggle value='"emerald"' class="emerald-btn w-100">E</mat-button-toggle>
            <mat-button-toggle value='"sapphire"' class="sapphire-btn w-100">S</mat-button-toggle>
            <mat-button-toggle value='"ruby"' class="ruby-btn w-100">R</mat-button-toggle>
            <mat-button-toggle value='"heatcheck"' class="heat-check-btn w-100">H</mat-button-toggle>
            <mat-button-toggle value='"amethyst"' class="amethyst-btn w-100">A</mat-button-toggle>
            <mat-button-toggle value='"onyx"' class="onyx-btn w-100">O</mat-button-toggle>
            <mat-button-toggle value='"diamond"' class="diamond-btn w-100">D</mat-button-toggle>
            <mat-button-toggle value='"pinkdiamond"' class="pink-diamond-btn w-100">P</mat-button-toggle>
            <mat-button-toggle value='"galaxyopal"' class="galaxy-opal-btn w-100">O</mat-button-toggle>
          </mat-button-toggle-group>
        </div>
        <div class="mb-2">
          <div class="row">
            <div class="col-6 pr-1">
              <button mat-raised-button color="primary" class="form-buttons"
                (click)="createFilter(filterForm.value)">Filter</button>
            </div>
            <div class="col-6 pl-1">
              <button mat-stroked-button color="primary" class="form-buttons" (click)="resetFilter()">Reset</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <strong>Collections</strong>
        <mat-tab-group class="collection-team-tab">
          <mat-tab label="Collections">
            <mat-selection-list #teams formControlName="subcollection">
              <mat-list-option value='"{{collection.id}}"' *ngFor="let collection of listOfCollections">
                {{collection.name}}
              </mat-list-option>
            </mat-selection-list>
          </mat-tab>
          <mat-tab label="Teams">
            <mat-selection-list #teams formControlName="team">
              <mat-list-option value='"{{team.id}}"' *ngFor="let team of teamsList">
                {{team.name}}
              </mat-list-option>
            </mat-selection-list>
          </mat-tab>
        </mat-tab-group>
      </div>
      <div class="col-12 col-md-4">
        <strong>Sorting</strong>
        <!-- <button type="button" class="btn btn-primary" (click)="createSort('open3PT')">3PT</button>
        <button type="button" class="btn btn-primary" (click)="createSort('speed')">SPD</button> -->
        <div class="sorting-column pt-2 pl-3">
          <ng-container *ngFor="let stat of statsDefinitions">
            <div>
              <mat-checkbox color="primary" [ngModelOptions]="{standalone: true}" [(ngModel)]="stat.selected"
                (change)="checkSelectedOrder(stat.value)">{{stat.name}}</mat-checkbox>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </form>
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>NAME</th>
      <td class="player-card" mat-cell *matCellDef="let player">
        <div class="player">
          <img class="player-image mr-2" [src]="player.image" />
        </div>
        <div>
          <span class="player-name">{{ player?.name }} {{ player?.lastName }}</span>
          <span class="player-collection">
            {{ player?.subcollection?.collection?.name }} /
            {{ player?.subcollection?.name }}
          </span>
        </div>
      </td>
    </ng-container>

    <!-- Overall Column -->
    <ng-container matColumnDef="overall">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>OVR</th>
      <td mat-cell *matCellDef="let player">
        <span [ngClass]="{
            'overall-bronze': player.overall >= 60 && player.overall < 70,
            'overall-silver': player.overall >= 70 && player.overall < 75,
            'overall-gold': player.overall >= 75 && player.overall < 80,
            'overall-emerald': player.overall >= 80 && player.overall < 84,
            'overall-sapphire': player.overall >= 84 && player.overall < 87,
            'overall-ruby': player.overall >= 87 && player.overall < 90,
            'overall-amethyst': player.overall >= 90 && player.overall < 94,
            'overall-diamond': player.overall >= 94 && player.overall < 96,
            'overall-pink-diamond': player.overall >= 96 && player.overall < 99,
            'overall-galaxy-opal': player.overall == 99
          }" class="badge badge-success">{{ player?.overall }}</span>
      </td>
    </ng-container>

    <!-- Dynamic column -->
    <ng-container *ngIf="orderColumn !== null">
      <ng-container matColumnDef="{{orderColumn}}">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ statHeader }}</th>
        <td mat-cell *matCellDef="let player">
          <span [ngClass]="{
              attributeLowest: getTableValue(player, orderColumn) >= 25 && getTableValue(player, orderColumn) < 50,
              attributeLow: getTableValue(player, orderColumn) >= 50 && getTableValue(player, orderColumn) < 60,
              attributeMedium: getTableValue(player, orderColumn) >= 60 && getTableValue(player, orderColumn) < 80,
              attributeHigh: getTableValue(player, orderColumn) >= 80 && getTableValue(player, orderColumn) < 90,
              attributeHighest: getTableValue(player, orderColumn) >= 90
            }" class="badge badge-success">{{ getTableValue(player, orderColumn) }}</span>
        </td>
      </ng-container>
    </ng-container>

    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef>POS</th>
      <td mat-cell *matCellDef="let player">{{ player?.position }}</td>
    </ng-container>

    <!-- Inside Column -->
    <ng-container matColumnDef="inside">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>INS</th>
      <td mat-cell *matCellDef="let player">
        <span [ngClass]="{
            attributeLowest: player.overall >= 25 && player.overall < 50,
            attributeLow: player.overall >= 50 && player.overall < 60,
            attributeMedium: player.overall >= 60 && player.overall < 80,
            attributeHigh: player.overall >= 80 && player.overall < 90,
            attributeHighest: player.overall >= 90
          }" class="badge badge-success">{{ player?.inside }}</span>
      </td>
    </ng-container>

    <!-- Outside Column -->
    <ng-container matColumnDef="outside">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>OUT</th>
      <td mat-cell *matCellDef="let player">
        <span [ngClass]="{
            attributeLowest: player.outside >= 25 && player.outside < 50,
            attributeLow: player.outside >= 50 && player.outside < 60,
            attributeMedium: player.outside >= 60 && player.outside < 80,
            attributeHigh: player.outside >= 80 && player.outside < 90,
            attributeHighest: player.outside >= 90
          }" class="badge badge-success">{{ player?.outside }}</span>
      </td>
    </ng-container>

    <!-- Playmaking Column -->
    <ng-container matColumnDef="playmaking">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>PLY</th>
      <td mat-cell *matCellDef="let player">
        <span [ngClass]="{
            attributeLowest: player.playmaking >= 25 && player.playmaking < 50,
            attributeLow: player.playmaking >= 50 && player.playmaking < 60,
            attributeMedium: player.playmaking >= 60 && player.playmaking < 80,
            attributeHigh: player.playmaking >= 80 && player.playmaking < 90,
            attributeHighest: player.playmaking >= 90
          }" class="badge badge-success">{{ player?.playmaking }}</span>
      </td>
    </ng-container>

    <!-- Athleticism Column -->
    <ng-container matColumnDef="athleticism">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>ATH</th>
      <td mat-cell *matCellDef="let player">
        <span [ngClass]="{
            attributeLowest:
              player.athleticism >= 25 && player.athleticism < 50,
            attributeLow: player.athleticism >= 50 && player.athleticism < 60,
            attributeMedium:
              player.athleticism >= 60 && player.athleticism < 80,
            attributeHigh: player.athleticism >= 80 && player.athleticism < 90,
            attributeHighest: player.athleticism >= 90
          }" class="badge badge-success">{{ player?.athleticism }}</span>
      </td>
    </ng-container>

    <!-- Defending Column -->
    <ng-container matColumnDef="defending">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>DEF</th>
      <td mat-cell *matCellDef="let player">
        <span [ngClass]="{
            attributeLowest: player.defending >= 25 && player.defending < 50,
            attributeLow: player.defending >= 50 && player.defending < 60,
            attributeMedium: player.defending >= 60 && player.defending < 80,
            attributeHigh: player.defending >= 80 && player.defending < 90,
            attributeHighest: player.defending >= 90
          }" class="badge badge-success">{{ player?.defending }}</span>
      </td>
    </ng-container>

    <!-- Rebounding Column -->
    <ng-container matColumnDef="rebounding">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>REB</th>
      <td mat-cell *matCellDef="let player">
        <span [ngClass]="{
            attributeLowest: player.rebounding >= 25 && player.rebounding < 50,
            attributeLow: player.rebounding >= 50 && player.rebounding < 60,
            attributeMedium: player.rebounding >= 60 && player.rebounding < 80,
            attributeHigh: player.rebounding >= 80 && player.rebounding < 90,
            attributeHighest: player.rebounding >= 90
          }" class="badge badge-success">{{ player?.rebounding }}</span>
      </td>
    </ng-container>

    <!-- Height Column -->
    <ng-container matColumnDef="height">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>HEIGHT</th>
      <td mat-cell *matCellDef="let player">{{ player?.height }}</td>
    </ng-container>

    <!-- Total attributes Column -->
    <ng-container matColumnDef="totalAttributes">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        TOTAL ATTRIBUTES
      </th>
      <td mat-cell *matCellDef="let player">{{ player?.totalAttributes }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns" (click)="selectPlayer(row)"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[2, 5, 10, 20, 50, 100]" [pageSize]="10" showFirstLastButtons></mat-paginator>
</div>