<div class="container-fluid">
  <div class="header row">
    <div class="col-12 col-xl-10 offset-xl-1">
      <div class="">
        <mat-toolbar>
          <img class="header-logo" [src]="'../../../assets/icons/logo.png'" [routerLink]="routerDefinitions.home">
          <div>
            <input type="text" class="search-bar" placeholder="Find players...">
          </div>
          <div class="header-links">
            <a [routerLink]="routerDefinitions.players">
              Players
            </a>
          </div>

          <div class="header-links">
            <a [routerLink]="routerDefinitions.collections">
              Collections
            </a>
          </div>

          <div class="header-links">
            <a [routerLink]="routerDefinitions.lineups">
              Lineups
            </a>
          </div>
        </mat-toolbar>
      </div>
    </div>
  </div>
</div>
