<div class="container-fluid">
  <div class="header row">
    <div class="col-12 col-xl-10 offset-xl-1">
      <div class="">
        <mat-toolbar>
          <img class="header-logo" [src]="'../../../assets/icons/logo.png'" [routerLink]="routerDefinitions.home">
          <div style="width: 250px">
            <form [formGroup]="searchForm">
              <!-- <input type="text" class="search-bar" id="search" placeholder="Find players..." formControlName="search" (keyup)="getPlayers()"> -->

              <ng-select #elem class="custom mt-1" [items]="results" bindLabel="bindLabel" bindValue="id"
                formControlName="search" [clearable]="false" placeholder="Find players..." (open)="onOpen(elem)"
                (change)="selectPlayer(searchForm.value)">
                <ng-template ng-option-tmp let-item="item" let-index="index">
                  <img width="30" [src]="item.image" />
                  <span class="ml-2">{{item.name}} {{item.lastName}}</span>
                  <span [ngClass]="{
                    'overall-bronze': item.overall >= 60 && item.overall < 70,
                    'overall-silver': item.overall >= 70 && item.overall < 75,
                    'overall-gold': item.overall >= 75 && item.overall < 80,
                    'overall-emerald': item.overall >= 80 && item.overall < 84,
                    'overall-sapphire': item.overall >= 84 && item.overall < 87,
                    'overall-ruby': item.overall >= 87 && item.overall < 90,
                    'overall-amethyst': item.overall >= 90 && item.overall < 94,
                    'overall-diamond': item.overall >= 94 && item.overall < 96,
                    'overall-pink-diamond': item.overall >= 96 && item.overall < 99,
                    'overall-galaxy-opal': item.overall == 99
                  }" class="badge badge-success float-right mt-2">{{ item?.overall }}</span>
                </ng-template>
              </ng-select>
            </form>
          </div>
          <div class="header-links">
            <a [routerLink]="routerDefinitions.players">
              Players
            </a>
          </div>

          <div class="header-links">
            <a [routerLink]="routerDefinitions.collections">
              Collections
            </a>
          </div>

          <div class="header-links">
            <a [routerLink]="routerDefinitions.lineups">
              Lineups
            </a>
          </div>

          <div class="header-links" *ngIf="role === 'ADMIN'">
            <a [routerLink]="routerDefinitions.admin">
              Admin
            </a>
          </div>
          <ng-container *ngIf="!user">
            <div class="btn-group mr-3 dropdowns">
              <div class="btn-group mt-1" ngbDropdown role="group">
                <button class="btn btn-primary" ngbDropdownToggle>Login</button>
                <div ngbDropdownMenu aria-labelledby="dropdownForm1">
                  <form [formGroup]="loginForm" class="login-form p-3">
                    <div class="form-group">
                      <label for="exampleDropdownFormEmail1">Email address</label>
                      <input type="email" class="form-control" formControlName="email" id="exampleDropdownFormEmail1"
                        placeholder="email@example.com">
                    </div>
                    <div class="form-group">
                      <label for="exampleDropdownFormPassword1">Password</label>
                      <input type="password" class="form-control" formControlName="password"
                        id="exampleDropdownFormPassword1" placeholder="Password">
                    </div>
                    <button class="btn btn-primary" (click)="sendLoginForm(loginForm.value)">Sign in</button>
                  </form>
                </div>
              </div>
              <div class="btn-group mt-1" ngbDropdown role="group">
                <button class="btn btn-primary" ngbDropdownToggle>Register</button>
                <div class="dropdown-menu" ngbDropdownMenu>
                  <button ngbDropdownItem>One</button>
                  <button ngbDropdownItem>Two</button>
                  <button ngbDropdownItem>Four!</button>
                </div>
              </div>
            </div>
          </ng-container>
          <ng-container *ngIf="user">
            <div ngbDropdown class="dropdowns">
              <button class="btn btn-primary mt-1" id="dropdownBasic1"
                ngbDropdownToggle>{{user?.user?.username}}</button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button (click)="logout()" ngbDropdownItem>Logout</button>
              </div>
            </div>
          </ng-container>
        </mat-toolbar>
      </div>
    </div>
  </div>
</div>

<div class="search-results">
  <ng-container *ngIf="results.length > 0">
    <mat-list *ngFor="let result of results" style="width: auto">
      <mat-list-item (click)="selectPlayer(result)">
        <div class="result">{{ result.name }} {{ result.lastName }} ({{ result.overall}})</div>
      </mat-list-item>
    </mat-list>
  </ng-container>
  <ng-container *ngIf="!results || results.length === 0">
    <div class="result p-3">No results found</div>
  </ng-container>
</div>