<div class="container-fluid">
  <div class="header row">
    <div class="col-12 col-xl-10 offset-xl-1">
      <div class="">
        <mat-toolbar>
          <img class="header-logo" [src]="'../../../assets/icons/logo.png'" [routerLink]="routerDefinitions.home">
          <div style="width: 250px">
            <form [formGroup]="searchForm">
              <input type="text" class="search-bar" placeholder="Find players..." formControlName="search">
            </form>
          </div>
          <div class="header-links">
            <a [routerLink]="routerDefinitions.players">
              Players
            </a>
          </div>

          <div class="header-links">
            <a [routerLink]="routerDefinitions.collections">
              Collections
            </a>
          </div>

          <div class="header-links">
            <a [routerLink]="routerDefinitions.lineups">
              Lineups
            </a>
          </div>

          <div class="header-links">
            <a [routerLink]="routerDefinitions.admin">
              Admin
            </a>
          </div>
        </mat-toolbar>
      </div>
    </div>
  </div>
</div>
<!-- <div class="search-results">
  <mat-list *ngFor="let result of results" style="width: auto">
    <mat-list-item (click)="selectPlayer(result)">
     {{ result.name }} {{ result.lastName }} ({{ result.overall}})
    </mat-list-item>
  </mat-list>
</div> -->