app-header {

  mat-toolbar {
    position: sticky !important;
    background-color: #222 !important;
    top: 0px;
    height: 40px !important;
    z-index: 1000 !important;
  }

  .header {
    background-color: #222;
    height: 47px;
  }

  .header-logo {
    height: 35px;
    cursor: pointer;
    margin: 5px 10px 0px 0px;
  }

  .header-logo:focus {
    outline: none;
  }

  .search-bar {
    padding-left: 5px;
    margin-top: 5px;
    background: #2f2f2f;
    color: white;
    font-size: 18px;
  }

  .search-bar:focus {
    .search-results {
      visibility: initial;
    }    
  }

  .search-results {
    visibility: hidden;
    width: 320px;
    position: absolute;
    left: 270px;
    background-color: #ffffff;
    border: 1px solid black;
    z-index: 1000;
    border-radius: 6px;
  }

  .mat-list-item-content {
    cursor: pointer;
    &:hover {
      background-color: #d2d2d2;
      color: white;
    }
  }

  .header-links {
    padding: 10px;
    a {
      color: #9d9d9d;
      text-decoration: none;
      font-size: 14px;
      padding: 13px 0px 18px 0px;
    }
  }

  .header-links:hover {
    background-color: black;
    a {
      color: white;
    }
  }

}
