<div class="col-12 col-xl-10 offset-xl-1">
  <div class="header">
    <div class="logo">
      <img [src]="'../../../assets/icons/logo.png'">
    </div>
    <div class="search">
      <input type="text" class="search-input" (keyup)="filterPlayers($event.target.value)"
        placeholder="Filter players...">
    </div>
  </div>
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>NAME</th>
      <td class="player-card" mat-cell *matCellDef="let player">
        <div class="player">
          <img class="player-image mr-2" [src]="player.image" />
        </div>
        <div>
          <span class="player-name">{{ player?.name }} {{ player?.lastName }}</span>
          <span class="player-collection">
            {{ player?.subcollection?.collection?.name }} /
            {{ player?.subcollection?.name }}
          </span>
        </div>
      </td>
    </ng-container>

    <!-- Overall Column -->
    <ng-container matColumnDef="overall">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>OVR</th>
      <td mat-cell *matCellDef="let player">
        <span [ngClass]="{
                'overall-bronze': player.overall >= 60 && player.overall < 70,
                'overall-silver': player.overall >= 70 && player.overall < 75,
                'overall-gold': player.overall >= 75 && player.overall < 80,
                'overall-emerald': player.overall >= 80 && player.overall < 84,
                'overall-sapphire': player.overall >= 84 && player.overall < 87,
                'overall-ruby': player.overall >= 87 && player.overall < 90,
                'overall-amethyst': player.overall >= 90 && player.overall < 94,
                'overall-diamond': player.overall >= 94 && player.overall < 96,
                'overall-pink-diamond': player.overall >= 96 && player.overall < 99,
                'overall-galaxy-opal': player.overall == 99
              }" class="badge badge-success">{{ player?.overall }}</span>
      </td>
    </ng-container>

    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef>POS</th>
      <td mat-cell *matCellDef="let player">{{ player?.position }}</td>
    </ng-container>

    <!-- Inside Column -->
    <ng-container matColumnDef="inside">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>INS</th>
      <td mat-cell *matCellDef="let player">
        <span [ngClass]="{
                attributeLowest: player.overall >= 25 && player.overall < 50,
                attributeLow: player.overall >= 50 && player.overall < 60,
                attributeMedium: player.overall >= 60 && player.overall < 80,
                attributeHigh: player.overall >= 80 && player.overall < 90,
                attributeHighest: player.overall >= 90
              }" class="badge badge-success">{{ player?.inside }}</span>
      </td>
    </ng-container>

    <!-- Outside Column -->
    <ng-container matColumnDef="outside">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>OUT</th>
      <td mat-cell *matCellDef="let player">
        <span [ngClass]="{
                attributeLowest: player.outside >= 25 && player.outside < 50,
                attributeLow: player.outside >= 50 && player.outside < 60,
                attributeMedium: player.outside >= 60 && player.outside < 80,
                attributeHigh: player.outside >= 80 && player.outside < 90,
                attributeHighest: player.outside >= 90
              }" class="badge badge-success">{{ player?.outside }}</span>
      </td>
    </ng-container>

    <!-- Playmaking Column -->
    <ng-container matColumnDef="playmaking">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>PLY</th>
      <td mat-cell *matCellDef="let player">
        <span [ngClass]="{
                attributeLowest: player.playmaking >= 25 && player.playmaking < 50,
                attributeLow: player.playmaking >= 50 && player.playmaking < 60,
                attributeMedium: player.playmaking >= 60 && player.playmaking < 80,
                attributeHigh: player.playmaking >= 80 && player.playmaking < 90,
                attributeHighest: player.playmaking >= 90
              }" class="badge badge-success">{{ player?.playmaking }}</span>
      </td>
    </ng-container>

    <!-- Athleticism Column -->
    <ng-container matColumnDef="athleticism">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>ATH</th>
      <td mat-cell *matCellDef="let player">
        <span [ngClass]="{
                attributeLowest:
                  player.athleticism >= 25 && player.athleticism < 50,
                attributeLow: player.athleticism >= 50 && player.athleticism < 60,
                attributeMedium:
                  player.athleticism >= 60 && player.athleticism < 80,
                attributeHigh: player.athleticism >= 80 && player.athleticism < 90,
                attributeHighest: player.athleticism >= 90
              }" class="badge badge-success">{{ player?.athleticism }}</span>
      </td>
    </ng-container>

    <!-- Defending Column -->
    <ng-container matColumnDef="defending">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>DEF</th>
      <td mat-cell *matCellDef="let player">
        <span [ngClass]="{
                attributeLowest: player.defending >= 25 && player.defending < 50,
                attributeLow: player.defending >= 50 && player.defending < 60,
                attributeMedium: player.defending >= 60 && player.defending < 80,
                attributeHigh: player.defending >= 80 && player.defending < 90,
                attributeHighest: player.defending >= 90
              }" class="badge badge-success">{{ player?.defending }}</span>
      </td>
    </ng-container>

    <!-- Rebounding Column -->
    <ng-container matColumnDef="rebounding">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>REB</th>
      <td mat-cell *matCellDef="let player">
        <span [ngClass]="{
                attributeLowest: player.rebounding >= 25 && player.rebounding < 50,
                attributeLow: player.rebounding >= 50 && player.rebounding < 60,
                attributeMedium: player.rebounding >= 60 && player.rebounding < 80,
                attributeHigh: player.rebounding >= 80 && player.rebounding < 90,
                attributeHighest: player.rebounding >= 90
              }" class="badge badge-success">{{ player?.rebounding }}</span>
      </td>
    </ng-container>

    <!-- Height Column -->
    <ng-container matColumnDef="height">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>HEIGHT</th>
      <td mat-cell *matCellDef="let player">{{ player?.height }}</td>
    </ng-container>

    <!-- Total attributes Column -->
    <ng-container matColumnDef="totalAttributes">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        TOTAL ATTRIBUTES
      </th>
      <td mat-cell *matCellDef="let player">{{ player?.totalAttributes }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns" (click)="selectPlayer(row)"></tr>
  </table>

  <mat-paginator [pageSize]="5" showFirstLastButtons></mat-paginator>

  <div class="row">
    <div class="col-12 col-lg-6 featured-players-container">
      <div class="featured-players">
        <h4 class="title pl-3 pt-3 mb-4">Featured players</h4>
        <div *ngFor="let player of featuredPlayers">
          <img class="featured-player" [src]="player?.image" (click)="selectPlayer(player)">
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-6 featured-lineup-container">
        <div class="featured-lineup">
          <h4 class="title pl-3 pt-3 mb-4">Featured lineup</h4>
          <div (click)="selectLineup()">
            <img class="featured-lineup-player" [src]="lineupPlayer1?.image? lineupPlayer1?.image : '../../../assets/icons/placeholder_substitute.png'">
            <img class="featured-lineup-player" [src]="lineupPlayer2?.image? lineupPlayer2?.image : '../../../assets/icons/placeholder_substitute.png'">
            <img class="featured-lineup-player" [src]="lineupPlayer3?.image? lineupPlayer3?.image : '../../../assets/icons/placeholder_substitute.png'">
            <img class="featured-lineup-player" [src]="lineupPlayer4?.image? lineupPlayer4?.image : '../../../assets/icons/placeholder_substitute.png'">
            <img class="featured-lineup-player" [src]="lineupPlayer5?.image? lineupPlayer5?.image : '../../../assets/icons/placeholder_substitute.png'">
          </div>
        </div>
      </div>
  </div>

</div>
