<div class="col-12 col-xl-10 offset-xl-1">
  <div class="row">
    <div class="col-12">
      <h1 class="p-3">2K19 MyTeam Collections</h1>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h1 class="p-3">Current NBA</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-xl-6">
      <h3 class="p-3">Eastern Conference</h3>
      <ng-container *ngFor="let collection of currentEast">
        <a [routerLink]="routerDefinitions.collections + '/detail/' + collection.id" matTooltip="{{collection?.name}}">
          <img [src]="collection.image" style="width: 90px; margin: 8px">
        </a>
      </ng-container>
    </div>
    <div class="col-12 col-xl-6">
      <h3 class="p-3">Western Conference</h3>
      <ng-container *ngFor="let collection of currentWest">
        <a [routerLink]="routerDefinitions.collections + '/detail/' + collection.id" matTooltip="{{collection?.name}}">
          <img [src]="collection.image" style="width: 90px; margin: 8px">
        </a>
      </ng-container>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h1 class="p-3">Heat Check</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-xl-6">
      <h3 class="p-3">Eastern Conference</h3>
      <ng-container *ngFor="let collection of heatCheckEast">
        <a [routerLink]="routerDefinitions.collections + '/detail/' + collection.id" matTooltip="{{collection?.name}}">
          <img [src]="collection.image" style="width: 90px; margin: 8px">
        </a>
      </ng-container>
    </div>
    <div class="col-12 col-xl-6">
      <h3 class="p-3">Western Conference</h3>
      <ng-container *ngFor="let collection of heatCheckWest">
        <a [routerLink]="routerDefinitions.collections + '/detail/' + collection.id" matTooltip="{{collection?.name}}">
          <img [src]="collection.image" style="width: 90px; margin: 8px">
        </a>
      </ng-container>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h1 class="p-3">Moments</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-xl-6">
      <h3 class="p-3">Eastern Conference</h3>
      <ng-container *ngFor="let collection of momentsEast">
        <a [routerLink]="routerDefinitions.collections + '/detail/' + collection.id" matTooltip="{{collection?.name}}">
          <img [src]="collection.image" style="width: 90px; margin: 8px">
        </a>
      </ng-container>
    </div>
    <div class="col-12 col-xl-6">
      <h3 class="p-3">Western Conference</h3>
      <ng-container *ngFor="let collection of momentsWest">
        <a [routerLink]="routerDefinitions.collections + '/detail/' + collection.id" matTooltip="{{collection?.name}}">
          <img [src]="collection.image" style="width: 90px; margin: 8px">
        </a>
      </ng-container>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h1 class="p-3">Free Agents</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-xl-6">
      <h3 class="p-3">Eastern Conference</h3>
      <ng-container *ngFor="let collection of freeAgentsEast">
        <a [routerLink]="routerDefinitions.collections + '/detail/' + collection.id" matTooltip="{{collection?.name}}">
          <img [src]="collection.image" style="width: 90px; margin: 8px">
        </a>
      </ng-container>
    </div>
    <div class="col-12 col-xl-6">
      <h3 class="p-3">Western Conference</h3>
      <ng-container *ngFor="let collection of freeAgentsWest">
        <a [routerLink]="routerDefinitions.collections + '/detail/' + collection.id" matTooltip="{{collection?.name}}">
          <img [src]="collection.image" style="width: 90px; margin: 8px">
        </a>
      </ng-container>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h1 class="p-3">Throwback</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-xl-6">
      <h3 class="p-3">Eastern Conference</h3>
      <ng-container *ngFor="let collection of throwbackEast">
        <a [routerLink]="routerDefinitions.collections + '/detail/' + collection.id" matTooltip="{{collection?.name}}">
          <img [src]="collection.image" style="width: 90px; margin: 8px">
        </a>
      </ng-container>
    </div>
    <div class="col-12 col-xl-6">
      <h3 class="p-3">Western Conference</h3>
      <ng-container *ngFor="let collection of throwbackWest">
        <a [routerLink]="routerDefinitions.collections + '/detail/' + collection.id" matTooltip="{{collection?.name}}">
          <img [src]="collection.image" style="width: 90px; margin: 8px">
        </a>
      </ng-container>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h1 class="p-3">Throwback Elite</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-xl-6">
      <h3 class="p-3">Eastern Conference</h3>
      <ng-container *ngFor="let collection of throwbackEliteEast">
        <a [routerLink]="routerDefinitions.collections + '/detail/' + collection.id" matTooltip="{{collection?.name}}">
          <img [src]="collection.image" style="width: 90px; margin: 8px">
        </a>
      </ng-container>
    </div>
    <div class="col-12 col-xl-6">
      <h3 class="p-3">Western Conference</h3>
      <ng-container *ngFor="let collection of throwbackEliteWest">
        <a [routerLink]="routerDefinitions.collections + '/detail/' + collection.id" matTooltip="{{collection?.name}}">
          <img [src]="collection.image" style="width: 90px; margin: 8px">
        </a>
      </ng-container>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h1 class="p-3">Rewards</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <ng-container *ngFor="let collection of rewards">
        <a [routerLink]="routerDefinitions.collections + '/detail/' + collection.id" matTooltip="{{collection?.name}}">
          <img [src]="collection.image" style="width: 90px; margin: 8px">
        </a>
      </ng-container>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h1 class="p-3">Premium</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <ng-container *ngFor="let collection of premium">
        <a [routerLink]="routerDefinitions.collections + '/detail/' + collection.id" matTooltip="{{collection?.name}}">
          <img [src]="collection.image" style="width: 90px; margin: 8px">
        </a>
      </ng-container>
    </div>
  </div>
</div>